<div class="con-animate">
  <div class="animate1">
    <p><ion-icon name="cloudy-night-outline"></ion-icon> Ciudad: {{clima.name}}</p>
    <p><ion-icon name="sunny-outline"></ion-icon> Temperatura Actual: {{clima.main.temp}}°</p>
    <p><ion-icon name="thermometer-outline"></ion-icon> Temperatura Minima: {{clima.main.temp_min}}°C</p>
    <p><ion-icon name="thermometer-outline"></ion-icon> Temperatura Maxima: {{clima.main.temp_max}}°C</p>
    <p><ion-icon name="earth-outline"></ion-icon> Presion Atmosferica: {{clima.main.pressure}} hpa</p>
    <p><ion-icon name="thunderstorm-outline"></ion-icon> Visibilidad: {{clima.visibility}}m</p>


  </div>
  <div class="animate2">
    <p><ion-icon name="cloudy-night-outline"></ion-icon> Ciudad: {{clima.name}}</p>
    <p><ion-icon name="sunny-outline"></ion-icon> Temperatura Actual: {{clima.main.temp}}°</p>
    <p><ion-icon name="thermometer-outline"></ion-icon> Temperatura Minima: {{clima.main.temp_min}}°C</p>
    <p><ion-icon name="thermometer-outline"></ion-icon> Temperatura Maxima: {{clima.main.temp_max}}°C</p>
    <p><ion-icon name="earth-outline"></ion-icon> Presion Atmosferica: {{clima.main.pressure}} hpa</p>
    <p><ion-icon name="thunderstorm-outline"></ion-icon> Visibilidad: {{clima.visibility}}m</p>

  </div>
</div>