<ion-card>
  <ion-card-header>
    <ion-card-title>Baños</ion-card-title>
  </ion-card-header>

  <ion-card-content>  Lavar los baños a las 18:00. Atte. Tu mamá</ion-card-content>
  <ion-card-content>Fecha: 13/09/2024</ion-card-content>
  <ion-card-content>Prioridad: "1"</ion-card-content>

  <ion-button fill="clear">En Proceso</ion-button>
  <ion-button fill="clear">Terminado</ion-button>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title>Cocina</ion-card-title>
  </ion-card-header>

  <ion-card-content>  Lavar los platos a las 13:00. Atte. Tu mamá</ion-card-content>
  <ion-card-content>Fecha: 13/09/2024</ion-card-content>
  <ion-card-content>Prioridad: "2"</ion-card-content>

  <ion-button fill="clear">En Proceso</ion-button>
  <ion-button fill="clear">Terminado</ion-button>
</ion-card>