<ion-input label="Nombre" label-placement="floating" fill="solid" placeholder="Ingrese su Nombre"></ion-input>
<ion-input label="Apellido" label-placement="floating" fill="solid" placeholder="Ingrese su Apellido"></ion-input>
<ion-input label="Rut" label-placement="floating" fill="solid" placeholder="Ingrese su Rut"></ion-input>
<ion-input label="Ingrese su Telefono" label-placement="floating" fill="solid" type="tel" placeholder="+569"></ion-input>
<ion-input
  type="email"
  fill="solid"
  label="Email"
  placeholder="Ingrese un correo valido"
  labelPlacement="floating"
  errorText="Correo Invalido"
  ngModel
  email></ion-input>